---
// import { IndexPage } from '@/components/views/IndexPage'
import Layout from '@/layouts/Layout.astro'
const meta = {
  title: 'React App',
  id: 'index',
}
---

<Layout meta={meta}>
  <p>OK</p>
</Layout>
