---
import LteHeader from '@/components/ui/admin-lte/LteHeader.astro'
import LteSide from '@/components/ui/admin-lte/LteSide.astro'
import LteContentHeader from '@/components/ui/admin-lte/LteContentHeader.astro'
import LteFooter from '@/components/ui/admin-lte/LteFooter.astro'
export interface Props {
  meta: {
    title: string
    id: string
  }
}

const { meta } = Astro.props
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <title>{`${meta.title} | DemoSite`}</title>

    <link
      rel='stylesheet'
      href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback'
    />

    <link
      rel='stylesheet'
      href='https://adminlte.io/themes/v3/plugins/fontawesome-free/css/all.min.css'
    />

    <link
      rel='stylesheet'
      href='https://www.unpkg.com/admin-lte@3.2.0/dist/css/adminlte.min.css?v=3.2.0'
    />
  </head>
  <body class='hold-transition sidebar-mini'>
    <div class='wrapper'>
      <LteHeader />
      <LteSide />

      <div class='content-wrapper'>
        <LteContentHeader title={meta.title} />

        <section class='content'>
          <div class='container-fluid'>
            <!-- start layout-slot -->
            <slot />
            <!-- end layout-slot -->
          </div>
        </section>
      </div>

      <LteFooter />

      <aside class='control-sidebar control-sidebar-dark'></aside>
    </div>

    <script src='https://adminlte.io/themes/v3/plugins/jquery/jquery.min.js'
    ></script>
    <script
      src='https://adminlte.io/themes/v3/plugins/bootstrap/js/bootstrap.bundle.min.js'
    ></script>
    <script src='https://adminlte.io/themes/v3/dist/js/adminlte.min.js?v=3.2.0'
    ></script>
    <script src='https://adminlte.io/themes/v3/dist/js/demo.js'></script>
  </body>
</html>
